@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFFFFF;
  background: #000000;
  display: flex;
  justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
